<div class="toolbar">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Capacitación IT</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar-row>
    
        <mat-toolbar-row>
          <span>administrador/usuario</span>
          <span class="example-spacer"></span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span>Nombre</span>
          <span class="example-spacer"></span>
        </mat-toolbar-row>
      </mat-toolbar>
</div>