<router-outlet>administrador</router-outlet>
<form [formGroup]="formularioAdministrador" >
   
 Nombre de Administrador :<input formControlName="nombre" type="text">
 <span *ngIf="this.formularioAdministrador.get('nombre')?.errors?.['required'] && formularioAdministrador.get('nombre')?.touched">campo obligatorio</span>

 Contraseña :  <input formControlName="contraseña" type="password"> 
 <span *ngIf="this.formularioAdministrador.get('contraseña')?.errors?.['required'] && formularioAdministrador.get('contraseña')?.touched">campo obligatorio</span>
 <button mat-button color="accent" routerLink="tabla">TABLA</button> 
</form>

