<router-outlet></router-outlet>
<form [formGroup]="FormularioEditar" (ngSubmit)="newUser(FormularioEditar.value)">
    alumno : <input type="text" formControlName="nombre">
    <!-- <span *ngIf="this.FormularioEditar.get('nombre')?.errors?.['required']">Campo nombre requerido</span> -->


    curso : <input type="text" formControlName="curso">


    inscripcion : <input type="number" formControlName="inscripciones">

    id : <input type="number" formControlName="id">
    <button type="submit">añadir usuario</button>
</form>
